@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-color: #24252a;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 2%;
}
.title{
    margin-left: 1px;
    display: flex;
    align-items: center;
}
.logo{
    width: 60px;
    cursor: pointer;
}
.name{
    margin-left: 10px;
    font-size: 30px;
    transition: all 0.3s ease 0s;
}
.name:hover{
    color: rgba(0, 136, 169, 1);
}
.navbar-links{
    list-style: none;
}
.navbar-links li{
    display: inline-block;
    padding: 0px 10px; 
}
.nav-link-button{
    padding: 15px 25px;
    background-color: transparent;
    border: solid;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
}

.nav-link-button:hover{
    background-color: white;
    color: black;
    border: solid white;
}