@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


li, a, button, .slogan{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
}
header{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 7vh;
    padding: 20px 0.2%;
    box-shadow: 0 10px 9px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.slogan{
    align-items: center;
    font-weight: 700;
    font-size: 30px;
}
.slogan span{
    color: #58b0e0;
}

.title{
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #474B4E;
}
.title span{
    color: #58b0e0;
}
.logoImage{
    width: 470px;
}
.logo{
    width: 300px;
    cursor: pointer;
    margin-left: -9%;
}
.navContainer{
    width: 470px;
}
.navbar-links{
    list-style: none;
}
.navbar-links li{
    display: inline-block;
    padding: 0px 10px; 
}
.nav-link-button{
    padding: 5px 15px;
    background-color: transparent;
    border: solid;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
}
.nav-link-button-sign{
    padding: 5px 15px;
    background-color: #58b0e0;
    border: solid #58b0e0;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
}
.nav-link-small{
    transition: all 0.3s ease 0s;
    color: white;
}
.nav-link-button-sign:hover {
    background-color: #16a1eb;
    color: white;
    border: solid #16a1eb;
}

.nav-link-button:hover{
    background-color: #58b0e0;
    color: white;
    border: solid #58b0e0;
}

.nav-link-small:hover{
    color: #58b0e0;
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 93vh;
}
.carousel{
    width: 100vw;
    height: 93vh;
    position: relative;
}

.carousel > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}
.slide[data-active]{
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.slide > img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
}
.carousel-button{
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
} 
.carousel-button:hover,
.carousel-button:focus{
    color: white;
    background-color: rgba(0, 0, 0, .2);
}
.carousel-button:focus{
    outline: 1px solid black;
}
.carousel-button.prev{
    left: 1rem;
}
.carousel-button.next{
    right: 1rem;
}
.missionStatement{
    font-family: "Montserrat", sans-serif;
    display: flex;
    height: 20vh;
    background-color:#f9f1f1;
    justify-content: center;
    align-items: center;
}
.statement{
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10%;
}
.info2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10%;
    margin-left: 15%;
}
.image_container{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 70%;
    height: 90vh;
}

.image_container img{
    max-width: 500px;
    border-radius: 20px;
    border: 10px solid #58b0e0;
    margin: 60px;
}
.list_container{
    float: left;
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.list_container img{
    display: block;
    margin: 0 auto;
    width: 200px;
}
.list {
    margin-left: 10%;
}
.list li{
    color: black;
    font-size: 175%;
}
.list li:not(:last-child){
    margin-bottom: 55px;
}
.list li::marker{
    color: #58b0e0;
}

.list_container button{
    margin-bottom: 15%;
    margin-top: 9%;
    padding: 10px 20px;
    background-color: #58b0e0;
    border: solid #58b0e0;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
}
.list_container button:hover {
    background-color: #16a1eb;
    color: white;
    border: solid #16a1eb;
}
