@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


li, a, button, .slogan{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 10vh;
    padding: 20px 1%;
}

.slogan{
    align-items: center;
    font-weight: 700;
    font-size: 30px;
}
.logoImage{
    width: 26.02296875%;
}
.logo{
    width: 300px;
    cursor: pointer;
    margin-left: -9%;
}
.navbar-links{
    list-style: none;
}
.navbar-links li{
    display: inline-block;
    padding: 0px 10px; 
}
.nav-link-button{
    padding: 10px 20px;
    background-color: transparent;
    border: solid;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
}
.nav-link-small{
    transition: all 0.3s ease 0s;
    color: white;
}

.nav-link-button:hover{
    background-color: #007ba7;
    color: white;
    border: solid #007ba7;
}

.nav-link-small:hover{
    color: #007ba7;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #23E3C9;
    height: 70vh;
}
.slideshow{
    width: 800px; 
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
} 
.slide img{
    width: 800px;
    height: 500px;
}


.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{  
    background: #40d3dc;
}

#radio1:checked ~ .first{
    margin-left: 0;  
}
#radio2:checked ~ .first{
    margin-left: -20%; 
}
#radio3:checked ~ .first{
    margin-left: -40%; 
}
#radio4:checked ~ .first{
    margin-left: -60%; 
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40b3dc;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40b3dc;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40b3dc;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40b3dc;
}